<% provide(:title, 'All users') %>
<h1>All users</h1>


<div id="page_links">
  <%= will_paginate %>
</div>

<ul class="users" id="users">
    <%= render @users %>
</ul>

<div id="page_links">
  <%= will_paginate %>
</div>


